/** Global **/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainColor: #2196f3;
}

body {
  font-family: "Open Sans", sans-serif;
}

.game {
  background-color: #eee;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
}

.name {
  background-color: var(--mainColor);
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.message {
  background-color: white;
  padding: 15px;
  text-align: center;
  margin: 15px 0;
  border-radius: 6px;
}

.message span {
  font-weight: bold;
  color: #009688;
}

.message span::before {
  content: "[ ";
}

.message span::after {
  content: " ]";
}

.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #009688;
  color: white;
  padding: 15px;
  width: 50%;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
}

.start:hover {
  background-color: var(--mainColor);
}

.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: var(--mainColor);
  user-select: none;
}

.input {
  margin: 15px auto;
  width: 70%;
  display: block;
  padding: 15px;
  border: 3px solid var(--mainColor);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  border-radius: 6px;
  caret-color: var(--mainColor);
}

.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upcoming-words div {
  background-color: var(--mainColor);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}

.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}

.control span {
  font-weight: bold;
  color: #009688;
}

.finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}

.finish .good {
  color: var(--mainColor);
}

.finish .bad {
  color: red;
}
